.post {
  background-color: white;
  max-width: 100%;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.post__header {
  align-items: center;
  display: flex;
  padding: 10px;
}

.post__avatar {
  margin-right: 30px;
  padding-right: 30px;
}

.post__username {
  padding-right: 20px;
}

.post__image {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  width: 100%;
  object-fit: contain;
  max-height: 500px;
}

.post__text {
  font-weight: normal;
  padding: 20px;
}
